@mixin  display-flex($justify-text) {
    display: flex;
    align-items: center;
    justify-content: $justify-text;
}
@mixin input-style {
    border:0;
    width: 100%;
    background-color: transparent;
    height: 46px;
    padding: 10px;
    z-index: 1;
}
@mixin common-button-style {
    background-color:rgba(29,39,46,0.7);
    padding: 20px;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: rgba(255,255,255,0.7);
    width: 100%;
    display:block;
    letter-spacing: 1px;
    border:0;
    cursor: pointer;
    position: relative;
}
@mixin  phone {
    @media(max-width: 767px){
        @content;
    }
}