* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#6D828D), to(#293648));
  background-image: linear-gradient(to right, #6D828D, #293648);
  padding: 60px 15px;
}

.body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-wrapper .form-block {
  margin: 0 auto;
  max-width: 500px;
  padding: 50px 20px 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3F515C), to(#1D272E));
  background-image: linear-gradient(to right, #3F515C, #1D272E);
}

.body-wrapper .form-block h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .body-wrapper .form-block h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.body-wrapper .form-block p {
  text-align: center;
  line-height: 18px;
  padding: 0 20px;
}

.body-wrapper .form-block .form-fields-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  margin: 50px 0 10px;
}

.body-wrapper .form-block .form-fields-wrapper .input-field:first-child {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .body-wrapper .form-block .form-fields-wrapper {
    margin: 30px 0 10px;
  }
}

.body-wrapper .form-block .input-field {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.body-wrapper .form-block .input-field span i {
  color: #1D272E;
}

.body-wrapper .form-block .input-field label {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  left: 30px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 15px;
}

.body-wrapper .form-block .input-field input {
  border: 0;
  width: 100%;
  background-color: transparent;
  height: 46px;
  padding: 10px;
  z-index: 1;
}

.body-wrapper .form-block .input-field input:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}

.body-wrapper .form-block .input-field input:focus + label {
  top: -5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}

@media (max-width: 767px) {
  .body-wrapper .form-block .input-field {
    font-size: 15px;
  }
}

.body-wrapper .form-block .input-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 20px 0 60px;
}

.body-wrapper .form-block .input-action::after {
  content: '';
  position: absolute;
  width: calc(100% - 80px);
  left: 50%;
  bottom: -27px;
  border: 2px solid black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body-wrapper .form-block .input-action a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
}

@media (max-width: 767px) {
  .body-wrapper .form-block .input-action a {
    font-size: 14px;
  }
}

.body-wrapper .form-block .input-action label {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  .body-wrapper .form-block .input-action label {
    font-size: 14px;
  }
}

.body-wrapper .form-block .input-action label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.body-wrapper .form-block .input-action .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.body-wrapper .form-block .input-action label:hover input ~ .checkmark {
  background-color: #ccc;
}

.body-wrapper .form-block .input-action label input:checked ~ .checkmark {
  background-color: #1D272E;
}

.body-wrapper .form-block .input-action .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.body-wrapper .form-block .input-action label input:checked ~ .checkmark:after {
  display: block;
}

.body-wrapper .form-block .input-action label .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.body-wrapper .form-block .btn-common {
  background-color: rgba(29, 39, 46, 0.7);
  padding: 20px;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  display: block;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  position: relative;
}

.body-wrapper .form-block .btn-common::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #1d272e;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body-wrapper .form-block .btn-common:hover::before {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body-wrapper .form-block .btn-common span {
  z-index: 1;
  position: relative;
}

@media (max-width: 767px) {
  .body-wrapper .form-block .btn-common {
    padding: 15px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .body-wrapper .form-block {
    padding: 30px 20px;
  }
}
/*# sourceMappingURL=style.css.map */